.venv/
venv/
__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/
.vscode/
.idea/
.env
.env.*
.DS_Store
Thumbs.db

*.log
*.tmp
*.temp

# Ultralytics generated folders
runs/

# Downloaded YOLO weights
yolov8n-pose.pt

# TensorRT generated engines
*.onnx
*.engine*
*.deb
*.whl

